<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin/cadastrar_categoria.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
    <div class="nav-inner">
      <span class="area_admin">Área do Admin</span>
      <h1 class="biblioteca">Biblioteca</h1>
      <a class="voltar" href="/voltar/pagina/inicial">voltar</a>
      <a class="sair" href="/sair">Sair</a>
    </div>
  </nav>

    <h1>cadastrar categorias</h1>
    <form class="form" action="/cadastrar/categorias" method="post">
          <h1>Cadastrar Categorias</h1>
        <label>nome</label>
        <input type="text" name="Categoria" placeholder="digite o nome da categoria">
        <button class="Cadastrar_categoria">Cadastrar</button>
    </form>


     <footer class="footer">
    <p>Biblioteca &copy; 2024</p>
  </footer>
</body>
</html>