*{
    margin: 0;
    padding:0;
}
.footer{
    width: 100%;
    height: 70px;
     background: #362525;
     position:fixed;
     bottom:0;
}

.form{
    align-items: center;
  
    margin-left: 30%;
    margin-top:3%;
    width: 40%;
    height: 750px;
    border: 1px solid black;
    border-radius: 50px;
    background: #362525;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 10px 10px black;
    justify-content: center;   
}

label{
    position: relative;
    display: flex;
    top: 74px;
    font-size: 25px;
    margin-left: 7%;
}
input{
    position: relative;
    display: flex;
    top: 50px;
    width: 60%;
    height: 30px;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-left: 20%;
    font-size: 20px;
}





.navbar {
  background: #362525;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.nav-inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
}
.sair{
    color: white;
    text-decoration: none;
    font-size: 30px;

}
.Cadastrar_categoria{
    width: 25%;
    height: 40px;
    margin-top:12%;
    background: greenyellow;
    margin-right: 30px;
    border-radius: 20px;
    color: white;
    font-size: 30px;
}
.voltar{
   position: absolute;
    margin-left: 85%;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.salvar_butao{
    background: greenyellow;
    width: 20%;
    height: 25px;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}
.textarea{
    text-align: center;
    margin-top: 13%;
    width: 85%;
    height: 550px;
    display: block;
    border-radius: 20px;
    margin-left: 70px;
    font-size: 25px;

}
.butao_cadastrar_pagina{
    background: greenyellow;
    border-radius: 20px;
    width: 29%;
    height: 30px;
    font-size: 19px;
    color:white;
}