*{
    margin: 0;
    padding:0;
}
.nav_login{
    width: 100%;
    height: 80px;
    background: #362525;
    position: fixed;
    top:0;


}
.footer{
    width: 100%;
    height: 70px;
     background: #362525;
     position:fixed;
     bottom:0;
}
.h1_nav_login{
    margin-left:40%;
     margin-bottom: 1%;
     font-size:44px;
     color:white;
}

.form{
    margin-left: 50%;
    margin-top: 6%;
    width: 30%;
    height: 500px;
    border: 1px solid black;
    border-radius: 50px;
    background: #362525;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 10px 10px black;
    justify-content: center;
    
    
}
label{
    position: relative;
    display: flex;
    top: 74px;
    font-size: 25px;
    margin-left: 7%;
}
input{
    position: relative;
    display: flex;
    top: 50px;
    width: 60%;
    height: 30px;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-left: 20%;
    font-size: 20px;
}

.butao_login{
    position: relative;
    display: flex;
    top: 80px;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-left: 35%;
    background: green;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.login{
    margin-top: 0;
    position: absolute;
    margin-left: 12%;
    font-size: 40px;
}
.cadastro{
    color:white;
    position: relative;
    display: flex;
    top: 100px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.imag_login{
    position: absolute;
    width: 7%;
     height: 60px;
     margin-left: 2%;
     margin-top: 1%;
}
.imagem_livro{
    width: 29%;
    height: 270px;
    position: absolute;
    margin-top: 13%;
    margin-left:5%;
    border-radius:20px;

}
.cada_livro{
    width: 20%;
    color:black;
   position:absolute;
   margin-left:  10%;
   margin-top: 7%;
}
.passo{
    font-size: 20px;
    position:absolute;
   margin-left:  6%;
    margin-top: 11%;

}