.body_principal{
  background: white;
}
.body{
  border-radius: 20px;
  width: 100%;
  height: 300px;
}

button.interesse {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
}
 
button.interesse.nao {
  background-color: white;
  border: 2px solid black; 
}

button.interesse.sim {
  background-color: rgb(226, 42, 42);
}


.categoria_nome {
  overflow-x: auto;
  border-radius: 30px;
  position: relative;
  display: flex;
  width: 80%;
  left: 10%;
  margin: 30px;
  border: solid 2px black;
  background: #362525;
  box-shadow: 0 0 10px white;
  height: 100px;
}
.categoria_nome::-webkit-scrollbar {
  display: none;
}
.categoria_nome button{
    margin-left: 165px;
    font-size: 20px;
    border-radius: 10px;
}
.categoria_nome_butao{
  margin-top: 30px;
  margin-left: 15px;
}


.livro_por_categoria {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
  background: white;
 
  border-radius: 10px;
  height: 800px;
}
.livro_cate {
  position: relative; 
  width: 16%;
  height: 400px;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  text-align: center;
  background: #362525;
  
}
.interesse{
  position: relative;
  margin-left: 175px;
  padding: 16px;
  bottom: 80px;
}
.livro_titulo{
  font-size: 20px;
}
.ver_depois{
  position: relative;
  margin-left: 190px;
  bottom: 77px;
  font-size: 13px;
  
}
.butao_emprestimo{
  background: greenyellow;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.imagen_livro_categoria{
  height: 200px;
}

.container{
  border-radius: 20px;
  width: 100%;
  height: 400px;
  background: #362525;
 
}
.pesquisar{
  width: 90%;
  height: 70px;
  position: relative;
  text-align: center;
}
.pesquisa_input{
  width: 50%;
  height: 40px;
  border-radius: 15px;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 0 10px black;
}
.pesquisa_butao{
  width: 10%;
  height: 38px;
  border-radius: 15px;
  background-color: greenyellow;
  font-size: 20px;
}


.nav{
  z-index: 999;
  position: fixed;
  border-radius: 20px;
  width: 100%;
  height: 70px;
   background: #362525;
}
.nav h1{
  position: absolute;
  margin-left: 40%;
  top: -10px;
  color:white;
}
.h1_nav{
   margin-bottom:10%;
}
.imag{
  position: relative;
  top:3px;
  width: 7%;
  height: 60px;
  margin-left:20px;
}
.imag_casa{
  margin-left: 80%;
}

.espaco{
  width: 100%;
  height: 30px;
  background: white;
  border-top-right-radius: 10px;
}


.livro_cate_ver_mais{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;

  width: 80%;
  min-height: 500px;
  border-radius: 10px;
  border: solid 2px black;
  margin: 40px auto;
  box-shadow: 0 0 20px white;
  background: #362525;
  
  padding: 20px;
  color: white;
}

.imagen_livro_categoria_ver_mais{
  width: 30%;
  height: auto;
  border-radius: 10px;
}

.livro_info_ver_mais{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

.livro_titulo_ver_mais{
  font-size: 36px;
  margin-bottom: 15px;
}

.nome_do_autor,
.data_hora,
.descricao{
  font-size: 18px;
  margin: 5px 0;
}

.descricao_div{
  width: 100%;
  background: white;
 
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  margin-top: 15px;
  max-height: 200px;
  overflow-y: auto;
}


.butao_emprestimo_ver_mais{
  background: rgb(68, 109, 5);
  width: 40%;
  height: 45px;
  border-radius: 20px;
  color: white;
  margin: 15px 0;
  font-size: 18px;
  cursor: pointer;
}

.ver_depois_ver_mais{
  font-size: 14px;
  margin-top: 5px;
}

button.interesse_ver_mais {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
}
button.interesse_ver_mais.nao {
  background-color: white;
  border: 2px solid black; 
}
button.interesse_ver_mais.sim {
  background-color: rgb(226, 42, 42);
}


.menu{
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 25%;
  height: 600px;
  background: #362525;
  color: white;
  border: solid 2px white;
  font-size: 20px;
  position: absolute;
  z-index: 999;
  margin-left: 73%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.menu_principal_div{
  font-size: 30px;
  margin: 40px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.menu_principal_x{
  color: red;
  margin-right: 75%;
  font-size: 30px;
}
#menu_principal{
  display: none;
}


#apagar_x{
  margin-right: 75%;
  color: red;
  font-size: 25px;
}

.ver_mais_informacoes{
  position: relative;
  bottom: 50px;
  background: #362525;
  
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0 0 10px white;

}

.footer_emprestimo{
    width: 100%;
    height: 60px;
    background: #362525;
    margin-top: 50px;
    border-top: solid 2px black;
    position: relative;
    bottom: -50px;
}
.p_footer_emprestimo{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}
.butao_emprestimos{
  text-decoration: none;
  color: white;
}

.tela_usuario{
  color:white;
  
  position:relative;
  
}