<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/usuario/cadastro.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav_login">
        <a><img class="imag_login" src="/imagem/Livro em branco sobre madeira3.png"></a>  
        <h1 class="h1_nav_login"> Biblioteca </h1> 
    </nav>
    
    
    <form class="form" action="/cadastrar/usuario" method="post">

        <h1 class="cadastro_h1">  Tela de Cadastro</h1>
        <br>

        <label>Nome:</label>
        <input type="text" name="nome" placeholder="digite seu nome">
        <br>

        <label>Email:</label>
        <input type="email" name="email" placeholder="digite seu email">
        <br>

        <label>Senha:</label>
        <input type="password" name="senha" placeholder="digite sua senha">
        <button class="butao_login" type="submit">Entrar</button>
        <div class="cadastro">
         <a style="color: white;"> Tem cadastro?</a> <a style="color: blue;" href="/pagina/cadastro">Cadastrece aqui </a>
         </div>

    </form>

     <footer class="footer">
        <p>Biblioteca &copy; 2024</p>

    </footer>
   
</body>
</html>
